body
{
	margin: 0px;
}
A
{
	font-size: 10pt;
	color: black;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
BODY
{
	font-size: 10pt;
	color: black;
	font-family: Tahoma, Arial, Verdana;
	text-decoration: none;
}
TABLE
{
	border-collapse: collapse;
}
TR
{
}
TH
{
	font-weight: bold;
	font-size: 10pt;
	color: dimgray;
	font-family: tahoma,arial,verdana;
	text-decoration: none;
}
TD
{
	font-size: 10pt;
	color: black;
}
FONT.corporate
{
	font-size: 10pt;
	color: black;
	text-decoration: none;
}
FORM
{
	margin: 0px;
}
.BUTTON
{
	width:130px;
	height:20px;
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-weight: bold;
	font-size: 9pt;
	margin: 3px;
	text-transform: none;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family: Sans-Serif;
	background-color: white;
	font-variant: small-caps;
}
.tbl
{
	border: #0e256f 1px inset;
}
.idxhome
{
	color:Olive;
	font-weight:bold;
}
.srcfld
{
	border-right: #336699 1px solid;
	border-top: #336699 1px solid;
	border-left: #336699 1px solid;
	width: 75px;
	height:21;
	border-bottom: #336699 1px solid;
}
.srcbtn
{
	height:21;
	border-right: darkblue 1px solid;
	border-top: darkblue 1px solid;
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	border-left: darkblue 1px solid;
	color: white;
	border-bottom: darkblue 1px solid;
	font-family: Sans-Serif, Arial, Monospace;
	background-color: #336699;
}
.DeptTopHome
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	color: orangered;
	font-family: 'Arial Narrow' , 'Helvetica Narrow' , Tahoma, Sans-Serif, Helvetica;
}
.DeptTop
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	color: #336699;
	font-family: 'Arial Narrow' , 'Helvetica Narrow' , Tahoma, Sans-Serif, Helvetica;
}
.DeptTopSelected
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	color: dimgray;
	font-family: 'Arial Narrow' , 'Helvetica Narrow' , Tahoma, Sans-Serif, Helvetica;
}
.deptbl
{
	margin: 0px;
	width: 100%;
	border-collapse: collapse;
}
.dephome
{
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 10px;
	font-weight: bold;
	text-transform: lowercase;
	color: orangered;
}
.dephome1
{
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 0px;
	font-weight: bold;
	text-transform: lowercase;
	color: orangered;
}
.dephome2
{
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 10px;
	font-weight: bold;
	text-transform: lowercase;
	color: black;
}
.depcatsel
{
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 10px;
	font-size: 9pt;
	text-transform:lowercase;
	color: darkorange;
}
.depcat
{
	padding-left: 10px;
	font-weight: bold;
	font-size: 9pt;
	padding-bottom: 4px;
	text-transform: lowercase;
	color: #323232;
	padding-top: 4px;
}
.depcat1
{
	font-weight: regular;
	font-size: 9pt;
	color: #323232;
}
.categoryParent
{
	font-weight: bold;
	font-size: 8pt;
	color: #313131;
	font-family: Arial, Sans-Serif, Helvetica ;
}
.categorySub
{
	font-size: 8pt;
	color: #313131;
	font-family: Arial, Sans-Serif, Helvetica;
}
.cartSummaryTbl
{
	width: 100%;
	background-color: #ff9933;
}
.cartSummary
{
	font-weight: bold;
	color: white;
	text-align: center;
}
.cartSummeryLink
{
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 3px;
	color: white;
	padding-top: 3px;
	text-align: center;
}
.cartSummaryItem
{
	padding-right: 5px;
	padding-bottom: 1px;
	text-transform: lowercase;
	color: white;
	padding-top: 1px;
}
.cartSummaryValue
{
	color: black;
	background-color: white;
	font-size: 8pt;
	text-align: right;
}
.leftNavLinksTextHdr
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: #4d4d4d;
	font-family: Sans-Serif, Tahoma;
	text-align: center;
}
.leftNavLinksText
{
	font-size: 10pt;
	font-family: Sans-Serif, Tahoma;
	color: #4d4d4d;
}
.footerSpecialsTbl
{
}
.footerSpecialsTd
{
	padding-left: 3px;
	border-left: #336699 1px solid;
	border-right: #336699 1px solid;
	font-size:7pt;
}
.footerSpecialsMfg
{
	font-weight: bold;
	color: #3366cc;
}
.footerSpecialsName
{
	font-weight: bold;
	font-size: 7pt;
	color: #336699;
}
.footerSpecialsPrice
{
	font-weight: bold;
	font-size: 8pt;
	color: #474f21;
}
.footerSpecialsView
{
	font-weight: bold;
	font-size:8pt;
	color: #336699;
}
.footerSpecialsBuy
{
	font-weight: bold;
	font-size:8pt;
	color: #474f21;
}
.productName
{
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
	font-size: 10pt;
	color: white;
	background-color: #969696;
}
.productImageTbl
{
	border-left: #cfcfcf 1px solid;
	color: dimgray;
}
.productImage
{
	width: 250px;
}
.productPriceTbl
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
}
.productPriceCap
{
	color: #313131;
}
.productPrice
{
	color: #313131;
}
.productBuy
{
	font-weight: bold;
	font-size: 14pt;
	color: darkorange;
}
.productKitTbl
{
	border-top: silver 1px solid;
	border-left: silver 1px solid;
}
.productKitTdLast
{
	border-bottom: silver 1px solid;
	font-weight: bold;
	font-size: 8pt;
	color: #3f3f3f;
}
.productKitName
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9pt;
	color: black;
}
.productKitItemMfgName
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	color: #313131;
}
.productKitItemName
{
	font-size: 8pt;
	color: #233f77;
}
.productKitItemQty
{
	font-weight: bold;
	font-size: 8pt;
	color: #313131;
}
.productKitPrices
{
	font-weight: bold;
	font-size: 8pt;
	color: black;
}
.productKitPrice
{
	font-weight: bold;
	font-size: 8pt;
	color: darkorange;
}
.productKitBuy
{
	font-weight: bold;
	font-size: 10pt;
	color: darkorange;
}
.productAccessTbl
{
	border-top: silver 1px solid;
	border-left: silver 1px solid;
}
.productAccessMfg
{
	font-size: 8pt;
	text-transform: uppercase;
	font-weight: bold;
}
.productAccessName
{
	font-size: 8pt;
	text-transform: lowercase;
}
.productAccessDesc
{
	font-size: 8pt;
	color: orangered;
}
.productAccessPrice
{
	font-weight: bold;
	font-size: 8pt;
	color: black;
}
.productAccessPrice1
{
	font-weight: bold;
	font-size: 8pt;
	color: black;
}
.productAccessBuy
{
	font-weight: bold;
	font-size: 10pt;
	color: darkorange;
}
.productDescTbl
{
	border-top: silver 1px solid;
	border-left: silver 1px solid;
}
.searchRefine
{
	width:487px;
	background-color: lightgrey;
}
.searchRefineLabel
{
	font-weight: bold;
	font-size: 10pt;
	color: #3f3f3f;
}
.searchRefinePriceMnu
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	font-weight: bold;
	font-size: 10pt;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	color: #3f3f3f;
}
.searchRefinePriceFld
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	font-weight: bold;
	font-size: 10pt;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	color: #3f3f3f;
}
.searchLinksDis
{
	color: darkgray;
}
.searchTbl
{
	width:490px;
}
.searchTd
{
	border-bottom: lightgrey 1px solid;
}
.searchProductMfgName
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: #313131;
}
.searchProductName
{
	font-size: 10pt;
	text-transform: uppercase;
	color: #313131;
}
.searchProductDesc
{
	font-size: 10pt;
	text-transform:lowercase;
	color: #313131;
}
.searchProductCat
{
	font-size: 8pt;
	color: dimgray;
}
.searchProductMpn
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
}
.searchProductPrice
{
	font-weight: bold;
	font-size: 8pt;
	color: #3f3f3f;
}
.searchProductBuy
{
	font-weight: bold;
	font-size: 10pt;
	color: darkorange;
}
.searchProductLink
{
	font-size: 10pt;
	color: darkorange;
}
.searchMfgCatInput
{
	font-size: 10pt;
	text-transform: capitalize;
	font-family: 'Arial Narrow' , Tahoma, Serif;
}
.clogtable
{
	border-top: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	font-size: 10pt;
	width: 140px;
	font-family: Tahoma, Verdana, Arial;
}
.clogtd
{
}
.clogtext
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	width: 60px;
	border-bottom: darkgray 1px solid;
}
.spctbl
{
	width: 495px;
}
.spctbltd
{
	font-size: 9pt;
	width: 500px;
	border-bottom: darkgray 1px solid;
}
.spcmfgn
{
	color:#336699;
	font-size: 9pt;
	font-weight:bold;
	text-transform: uppercase;
}
.spcskun
{
	text-transform: uppercase;
	font-size: 7pt;
	color: #3f3f3f;
}
.spcskup
{
	color:#336699;
	font-weight: bold;
	font-size: 10pt;
}
.spcview
{
	font-weight:bold;
	color: #3f3f3f;
	font-size: 8pt;
}
.spcadd
{
	font-weight:bold;
	color: #3f3f3f;
	font-size: 8pt;
}
.orderLinesTbl
{
	width: 350;
}
.orderLineDesc
{
	text-transform: uppercase;
	font-weight: bold;
	color: #0e256f;
}
.orderLinePriceLabel
{
	width:100px;
	text-align:right;
	font-weight:bold;
}
.orderLinePrice
{
	font-weight: bold;
	color: darkorange;
}
.orderLineQtyLabel
{
	font-weight:bold;
}
.orderLineQty
{
	border-right: whitesmoke 2px inset;
	border-top: whitesmoke 2px inset;
	font-weight: bold;
	border-left: whitesmoke 2px inset;
	width: 50px;
	border-bottom: whitesmoke 2px inset;
	height: 20px;
	text-align: center;
}
.orsmst
{
	font-weight:bold;
}
.orsmstp
{
	font-weight: bold;
	color: #333f9b;
}
.orsmsp
{
	font-weight:bold;
}
.orsmspp
{
	font-weight:bold;
	color:#333f9b;
}
.basketTbl
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	width: 100%;
	border-bottom: silver 1px solid;
}
.basketCaption
{
	font-weight: bold;
	color: white;
	background-color: silver;
}
.basketSummary
{
	vertical-align:top;
}
.basketTotal
{
	vertical-align: top;
	border-left: silver 1px solid;
}
.bskbtnupd
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-weight: bold;
	font-size: 10pt;
	margin: 3px;
	text-transform: none;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family: Sans-Serif;
	background-color: white;
	font-variant: small-caps;
}
.shipViaSelectedTr
{
	background-color: #ffe366;
}
.accLoginTbl
{
	border-left: silver 1px solid;
	border-top: silver 1px solid;
}
.shopperTblTh
{
	font-weight: bold;
	color: dimgray;
}
.shopperBillingTbl
{
}
.shopperShippingTbl
{
}
.shopperPaymentTbl
{
}
.confirmCustomerTbl
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	width: 100%;
	border-bottom: silver 1px solid;
}
.confirmCartTbl
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	width: 100%;
	border-bottom: silver 1px solid;
}

a.Pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#E96E91;
	text-decoration:underline;
}
a:link.Pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E96E91;
	text-decoration:underline;
}
a:visited.Pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E96E91;
	text-decoration:underline;
}
a:hover.Pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}
a:active.Pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E96E91;
	text-decoration:underline;
}
.stylew{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
.styleb{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	
}