.navHead {
	font-size: 13px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight: bold;
}
.navSubHead {
	font-size: 13px;
	font-family: verdana;
	font-weight: bold;
	color: #000000;
}
.navItems {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
}
.navTextReg {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
}
.navTextSm {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
.itemTitleSearch {
	font-size: 13px;
	font-family: verdana;
	font-weight: bold;
	color: #000000;
}
.itemTitleProduct {
	font-size: 15px;
	font-family: verdana;
	font-weight: bold;
	color: #000000;
}
.itemSubTitleProduct {
	font-size: 15px;
	font-family: verdana;
	font-weight: normal;
	color: #000000;
}
.itemViews {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}

.itemArtistSearch {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
}
.itemArtistProduct {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.itemArtistName {
	font-size: 13px;
	font-family: verdana;
	font-weight: bold;
}
.itemArtistBio {
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
}
.itemMovieSearch {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
.itemFormatHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.itemFormat {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;
}
.itemOtherFormat {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.itemPubDate {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}

.itemRating {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
.PWBABHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;	
}
.PWBABGen {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}

.prodDetailsHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;	
}
.prodDetailsSubHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;	
}
.prodDetailsGen {
	font-size: 11px;
	font-family: verdana;
	color: #000000;	
}
.specialFeaturesHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;	
	font-weight: bold;	
}

.specialFeaturesGen {
	font-size: 11px;
	font-family: verdana;
	color: #000000;	
}
.priceTitleLg {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;
}
.priceTitleSm {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
.priceAmountLg {
	font-size: 13px;
	font-family: verdana;
	color: #AA0000;
	font-weight: bold;
}
.priceAmountSm {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}

.priceRightList {
	font-size: 11px;
	font-family: verdana;
	color: #666666;
}

.priceRightBN {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}

.priceRightBNPrice {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.priceRightMember {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold; 
}

.priceRightJoin {
	font-size: 10px;
	font-family: verdana;
}

.ShipMessage {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;
}


.rightAboutAlbumHeader {
	font-size: 10px;
	font-family: verdana;
	color: #EEEEE4;
	font-weight: bold;
}

.rightAboutAlbumGen {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}




.cartText {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
}
.cartTextSm {
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
.leftBarHeader {
	font-size: 11px;
	font-family: verdana;
	color: #EEEEE4;
	font-weight: bold;
}
.leftBarSubHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.leftBarGen {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}



.genTextHeader {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;	
}
.genTextReg {
	font-size: 13px;
	font-family: verdana;
	color: #000000;
}
.genTextSm {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
}
.genHeader {
	font-size: 10px;
	font-family: verdana;
	color: #EEEEE4;
	font-weight: bold;
}
.genMidHeader {
	font-size: 12px;
	font-family: verdana;
	color: #EEEEE4;
	font-weight: bold;
}
.genSubHeader {
	font-size: 11px;
	font-family: verdana;
	color: #000000;
	font-weight: bold;
}
.btobDiscount {
	font-size: 10px;
	font-family: verdana;
	color: #AA0000;
}
.btobDiscountLg {
	font-size: 13px;
	font-family: verdana;
	color: #AA0000;
}

.oopDisclaimer {
color: #999966;
font-family: verdana;
font-size: 10px;
text-decoration: none;
}
.oopDisclaimerHi {
color: #003399;
font-family: verdana;
font-size: 10px;
text-decoration: none;
}
a.oopDisclaimerHi {
color: #003399;
font-family: verdana;
font-size: 10px;
text-decoration: none;
}
a.oopDisclaimerHi:hover {
text-decoration: underline;
}
.oopLNav a {
color: #003399;
font-family: verdana;
font-size: 11px;
text-decoration: none;
line-height: 16px;
}
.oopLNav a:hover {
text-decoration: underline;
}
.oopLNavHead {
color: #006666;
font-family: verdana;
font-size: 13px;
font-weight: bold;
text-decoration: none;
}
.oopProdTitle {
color: #003399;
font-family: verdana;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}
a.oopProdArtist {
color: #003399;
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
a.oopProdArtist:hover {
text-decoration: underline;
}
.oopFooter {
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
.oopFooter a {
color: #003399;
text-decoration: none;
}
.oopFooter a:hover {
text-decoration: underline;
}
table.oopResults td {
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
table.oopResults a {
color: #003399;
text-decoration: none;
}
table.oopResults a:hover {
text-decoration: underline;
}
.oopResultsSm {
font-family: verdana;
font-size: 11px;
text-decoration: none;
}
.oopCartBuyNew {
color: #003399;
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
a.oopCartBuyNew {
color: #003399;
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
a.oopCartBuyNew:hover {
text-decoration: underline;
}
a.oopConditionTitle {
color: #003399;
font-family: verdana;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}
a.oopConditionTitle:hover {
text-decoration: underline;
}
.oopCondition {
font-family: verdana;
font-size: 12px;
text-decoration: none;
}
.oopDealerTitle {
color: #4D6940;
font-family: verdana;
font-size: 11px;
text-decoration: none;
font-weight: bold;
}
.oopDealertext {
font-family: verdana;
font-size: 11px;
text-decoration: none;
line-height: 14px;
}
.oopDetails {
font-family: verdana;
font-size: 11px;
text-decoration: none;
line-height: 16px;
}
a.oopRNav {
	font-family: verdana;
	font-size: 11px;
	color: #003399;
	text-decoration: none;
}
a.oopRNav:hover {
	text-decoration: underline;
}
.nouText {
	font-size: 11px;
	font-family: verdana;
	color: #666633;
}
a.nouLink {
	font-size: 12px;
	font-family: verdana;
	color: #003399;
	font-weight: bold;
	text-decoration: underline;
}
a.nouLinkNoresults {
	font-size: 11px;
	font-family: verdana;
	color: #666633;
	font-weight: bold;
	text-decoration: none;
}
a.nouLinkNoresults:hover {
	text-decoration: underline;
}
TD {
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana;
}
TD.rnav
{
    FONT-SIZE: 10px
}
.save
{
	font-size: 10px;
	font-family: verdana;
	color: #CC3300;
}
.bargNote
{
	font-size: 10px;
	font-family: verdana;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}
.smBlack
{
	font-size: 10px;
	font-family: verdana;
	color: #000000;
}
/* redesign styles */

.tanBdr{
border:1px solid;
border-color:#CCCC99;
}
.tenPad {
padding-left:10px;
padding-right:10px;
}
.tenPadLeft {
padding-left:10px;
}
.fivePad {
padding-left:5px;
padding-right:5px;
}
.genMidHeader {
font-size: 12px;
font-family: verdana;
color: #EEEEE4;
font-weight: bold;
}
.relatedHdr {
font-size: 12px;
font-family: verdana;
color: #FFFFFF;
font-weight: bold;
}
.qlHdr {
font-size: 12px;
font-family: verdana;
color: #FFFFFF;
font-weight: bold;
}

a {
text-decoration:underline;
color:#3333FF;
}
.countHdr {
font-size:16px;
}
.listPTxt{
color:666666;
}
.listPAmt{
color:666666;
}
.memberPTxt{
color:#000000;
}
.memberRight{
font-size: 11px;
font-family: verdana;
color:#000000;
font-weight: bold;
}
.memberPromoBlurb{
font-size: 11px;
font-family: verdana;
color:#000000
}

.AboutTheAlbulmHeaderCell{
background:#006666;
padding-left:10px;
padding-right:10px;
}

.LeftSideBarHeaderCell{
background:#669999;
}


.LeftSideBarTable {
background:#EEEEE4;
}

.MusicRuleCell {
background:#cccc99;
}

.MusicClipColorCell {
background:#EEEEE4;
}

.MusicRightNavHeaderCell {
background:#FFDC7E;
padding-left:10px;
padding-right:10px;
}

.MusicRightNavAboutHeaderCell {
background:#006666;
padding-left:10px;
padding-right:10px;
}

.MusicFasterTable {
border:1px solid;
border-color:#CCCC99;
background:#F2F2DA;
}


.CartGraphic {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.CartGraphicAdded {
	margin-top:10px;
}

.CartGraphicAdded_Long {
	margin-top:10px;
}

.subGenreItemFormat {
	font-family: arial black,helvetica,sans-serif;
	font-size: 12px;
	color: #003399; 
}
a.subGenreItemFormat {
	color: #003399; 
}
a.subGenreItemFormat:visited {
	color: #663366; 
}
.subGenreItemFormatSml {
	font-family: arial,helvetica,sans-serif;
	font-size: 10px;
	color: #003399; 
}
a.subGenreItemFormatSml {
	color: #003399; 
}
a.subGenreItemFormatSml:visited {
	color: #663366; 
}