.text {
font-family: verdana; 
font-size: 11px;
color: #4F6841;
text-decoration: none;
}
a.text:hover {
text-decoration: underline;
}
.alert {
font-family: verdana; 
font-size: 11px;
color: #4F6841;
text-decoration: none;
}
.faq {
font-family: verdana; 
font-size: 11px;
color: #818963;
text-decoration: none;
}
a.faq {
font-family: verdana; 
font-size: 11px;
color: #003000;
font-weight: bold;
text-decoration: none;
}
a.faq:hover {
text-decoration: underline;
}
.KMPCopy {
	font-size: 11px;
	color: #666633;
	font-family: verdana, arial, helvetica, sans-serif;
}
.KMPcopy {
	font-size: 11px;
	color: #666633;
	font-family: verdana, arial, helvetica, sans-serif;
}
.NSEmail {
font-size: 10px;
font-family: verdana, arial, helvetica, sans-serif;
}
.Newsletter {
font-size: 10px;
font-family: verdana, arial, helvetica, sans-serif;
}
.GWD {
background-image:url('http://images.barnesandnoble.com/pimages/saleannex/icons/greenwhitedot.gif');
}
.Checkbox {
font-size: 11px;
font-weight:bold;
color: #666633;
font-family: verdana, arial, helvetica, sans-serif;
}
.greenText {
font: normal 11px verdana;
color:#818963;
}
.dkgreenText {
font: normal 11px verdana;
color:#4F6841;
}
.greenTextBold {
font: bold 11px verdana;
color:#4F6841;
}
.greenTextBold A{
text-decoration: none;
color:#4F6841;
}
.greenTextBold A:hover{
text-decoration: underline;
}
.greenTextLg {
font: bold 16px verdana;
color:#4F6841;
}