#previewObj{
	z-index:1000;
	position: absolute;
}

#previewObj #previewContent{
	border: 1px solid #c1bfb3;	
	z-index: 1010;
	background: #fff; 
	position: relative;
	left: -5px; top: -4px;
}

#textLinkPreview { font: 10px Verdana; color: #333; border: 4px solid #e6e4d5 }
#textLinkPreview a:link, #textLinkPreview a:visited { color: #333; text-decoration: none; }
#textLinkPreview a:hover { text-decoration: underline; }
#textLinkPreview #imageThumb { padding-right: 15px; }
#textLinkPreview #productDetails .customerRating { position: relative; top: 4px; left: 0 }
#textLinkPreview #productDetails ul { list-style: none; margin: 0 0 5px; padding: 0 }
#textLinkPreview #productDetails ul li { margin-bottom: 3px; }
#textLinkPreview #productDetails ul li.productTitle a:link,
#textLinkPreview #productDetails ul li.productTitle a:visited { font: bold 11px Verdana;  }
#textLinkPreview #productDetails ul li.previewFormat { margin-top: 7px; }
#textLinkPreview #productDetails ul li.deliveryMessage { color: #666; margin: 7px 0; }
#textLinkPreview a.seeDetails { font-size: 10px; color: #666; display: block; margin: 10px 0 5px; text-decoration: underline; }
#textLinkPreview #productDetails form {padding: 0; margin: 0;}
#textLinkPreview a img {border:0;}
#textLinkPreview .cartBtn { margin: 1px 0 3px; }

.dropshadow {
    background: url(http://images.barnesandnoble.com/pimages/prodprev/dropshadow.png) bottom right !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://images.barnesandnoble.com/pimages/prodprev/dropshadow.png',sizingMethod='scale');
    background: none;
    width: 320px;
}

